{% extends 'layout.html' %}

{% block content %}
    <div>
        <h1>Зарегистрировать компанию</h1>
        <form action='/navigator/my_companies/create' method='post' class="inline-form">
            {% csrf_token %}
            {{ company_form }}
            <button type='submit'>Зарегистрировать</button>
        </form>
    </div>
    {% for company in companies %}
        <div class='block company'>
            <span class='title'>{{ company.name }}</span>
            <br>
            <a href='/navigator/my_companies/{{ company.id|stringformat:"d" }}/delete'>удалить компанию</a>
            <br>
            <div class='card-container'>
                {% for product in company.product_set.all %}
                    <div class='block product'>
                        <span class='title'>{{ product.name }}</span>
                        <a href='/navigator/my_companies/delete_product/{{ product.id|stringformat:"d" }}'>удалить продукт</a>
                    </div>
                {% endfor %}
            </div>
            <h3>Добавить продукт</h3>
            <form action='/navigator/my_companies/{{ company.id|stringformat:"d" }}/create_product' method='post' class="inline-form">
                {% csrf_token %}
                {{ product_form }}
                <button type='submit'>Добавить</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}