{% extends 'layout.html' %}

{% block content %}
    {% for company in companies %}
        <div class='block company'>
            <span class='title'>{{ company.name }}</span>
            <p>Дата основания: {{ company.creation_date|date:'d.m.Y' }}</p>
            <p>ИНН: {{ company.inn }}</p>
            <div class='card-container'>
                {% for product in company.product_set.all %}
                    <div class='block product'>
                        <span class='title'>{{ product.name }}</span>
                        <span>{{ product.description }}</span>
                        <span>Цена: {{ product.price }} руб.</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}