{% extends 'layout.html' %}

{% block content %}
    <div class='login-container'>
        <h1>Вход в систему</h1>
        <form action='/accounts/login/' method='post' class="login-form">
            {% csrf_token %}
            <section>
                <label for='id_login'>Логин:</label>
                <input id='id_login' name='login' type='text' autocomplete='логин' required autofocus>
            </section>
            <section>
                <label for='id_password'>Пароль:</label>
                <input id='id_password' name='password' type='password' autocomplete='пароль' required>
            </section>
            <button type='submit'>Войти</button>
        </form>
        <a href="/accounts/signup" style="font: 20px Arial, sans-serif; margin-top: 1em;">Зарегистрироваться</a>
    </div>
{% endblock %}